<!-- <div class="container bg-page">
        <h3 class="heading-desc text-center">Welcome to Real Time Auction</h3>
        <div id="loginModal" class= "bg-model" role="application">
            <div class="modal-application modal-sm bg-model text-center ">
                <div class="modal-content bg-modal-body">
                        <div class="modal-body bg-modal-body">
                                <div class="row text-center">
                                        <form class="form-signin mg-btm">
                                            <div class="social-box btn-group-vertical">
                                                <div class="row mg-btm">
                                                    <div class="col-md-12 text-center">
                                                        <button class="btn btn-primary btn-lg btn-block" v-on="click: submitGoogle">
                                                            <i class="icon-facebook"></i>Login with Facebook
                                                        </button>
                                                    </div>
                                                </div>
                                                    <div class="row mg-btm">
                                                        <div class="col-md-12 text-center">
                                                            <button class="btn btn-primary btn-lg btn-block" v-on="click: submitGoogle">
                                                                <i class="icon-google"></i>Login with Google
                                                            </button>
                                                        </div>
                                                    </div>
                                            </div>
                                        <span class="clearfix"></span>	
                                        </form>
                                    </div>
                            </div>   
                        </div>
                </div>
            </div>
    </div> -->