extends layout

block content
    h1= title
    p Welcome to #{title}
    form(action="/admin/product", method="post")
        label(for="team_name") Enter Product name:
        input#product_name(type="text", name="productName", value=" ")
        input(type="submit", value="search")
    br
    br
    form(action="/admin/user", method="post")
        label(for="team_name") Enter Bidder name:
        input#team_name(type="text", name="userName", value=" ")
        input(type="submit", value="search")
    br
    br
    form(action="/admin/user", method="post")
            label(for="team_name") Enter Supplier name:
            input#team_name(type="text", name="userName", value=" ")
            input(type="submit", value="search")
