extends layout

block content
    .container
        .row
            .col-lg-12.col-sm-6
                .card.hovercard
                    .cardheader
                    .avatar
                        img(alt='nama', src='http://lorempixel.com/100/100/people/9/')
                    .info
                        .title
                           h1= product.name
                            h4=product.description
                        col-lg-3.col-sm-6
                            .input-group
                                span.input-group-addon $
                                span.input-group-addon 0.00
                                input.form-control(type='text', aria-label='Amount (to the nearest dollar)')
                            button.btn.btn-primary(type='submit') BID
