footer(style="color:red;background-color:blue;white-space:nowrap;")
    p() "In case of any problem, report to "
    b
        a(href="mailto:admin.realtimeauction@gmail.com")="admin.realtimeauction@gmail.com"
