extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Log In
                form(method='POST' action='Login')
                    div.form-group
                        label(for='userName') User Name
                        input.form-control(type='text' id='userName' placeholder='user Name' name='userName' required='true')
                    div.form-group
                        label(for='password') Password
                        input.form-control(type='password' id='password' placeholder='password' name='password' required='true')
                    button.btn.btn-primary(type='submit') Log in
                    form(action='')
                    input(type='button', value='Sign Up', onclick="register.pug';") //Route to Ashish's page
