extends layout

block content
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
        a.navbar-brand= "Realtime Auction"
        a#login-icon
            i.fa.fa-user-circle-o.fa-3x
    .container
        .row.centered
            .col-xs-12
                .jumbotron.product-box
                    h3= "Current Products"