extends layout

block content
  body
    form(style="padding-top:50px;padding-left:50px;padding-right:50px;overflow:auto")
        //this div for left side elements
        h1(id="header_product") Create Product
        div(id="div_pro", class="div_main")
            div(id="div_left_pro" , class="div_left")
                div(style="margin-top:10px")
                    label(class="label_product" for="name") Product Name
                    input(class="input_product" id='name', type='text', name='name' required="true" pattern="^[a-zA-Z0-9 ]+$")
                br
                div(style="margin-top:10px")
                    label(class="label_product" style="margin-top:0px") Description
                    textarea(id='desc' , name='description', style="width:60%;height:35px;")
                br
                div(style="margin-top:10px;position:left")
                    label(class="label_product" for="amount" ) Start Amount
                    input(class="input_product" id='amount', type='number', name='amount' required="true" pattern="^^[1-9][0-9]*$")
                    label(class="label_product" for="amount", style="margin-left:10px" ) €
                br
                div(style="margin-top:10px")
                    label(class="label_product" style="float:left") Date From:
                    div(class='input-group date' , id='startDate' , style="width:30%;float:left")
                        input(type='text' class="form-control" , name='bidStartDate', required="true")
                        span(class="input-group-addon")
                            span(class="glyphicon glyphicon-calendar")

                    label(class="label_product" style="float:left; margin-left:35px;width:50px") to
                    div(class='input-group date' , id='endDate' , style="width:30%;float:left")
                        input(type='text' class="form-control" , name='bidEndDate', required="true")
                        span(class="input-group-addon")
                            span(class="glyphicon glyphicon-calendar")
                br
                div(id="div_buttons" class="div_buttons" )
                    button(id='btn_save' type='submit' class="btn btn-success" formmethod='POST' formaction='/productView/insert' formenctype="multipart/form-data") Save
                    button(id='btn_cancel' type='submit' class="btn btn-danger"  formmethod='POST' formaction='/productView/redirect' formnovalidate) Cancel

            div(id="div_right_pro" class="div_right", style="float:left")
                div(style="width:300px;height:190px")
                    img(class="img_product" id="img_pro" , width="300px" , height="300px" src="/images/product.png", class="pro_image" )
                br
                div
                    input(type="file", id="img_file",  name="product" , accept="image/*")
                br

                script.

                    function readURL(input) {
                        if (input.files && input.files[0]) {
                            let reader = new FileReader();

                            reader.onload = function (e) {
                                $('#img_pro').attr('src', e.target.result);
                            }
                            reader.readAsDataURL(input.files[0]);
                        }
                    }

                    $("#img_file").change(function () {
                        readURL(this);
                    });


                    $("#startDate").datetimepicker({
                        format: 'YYYY/MM/DD HH:mm',
                        stepping: 15, //will change increments to 15m, default is 1m
                        minDate: new Date(),
                        //autoclose: true to automatically code picker
                    });
                    $("#endDate").datetimepicker({
                        format: 'YYYY/MM/DD HH:mm',
                        stepping: 15, //will change increments to 15m, default is 1m
                        minDate: new Date(),
                    });
                    $("#startDate").on("dp.change", function (e) {
                        $('#endDate').data("DateTimePicker").minDate(e.date);
                    });
                    $("#endDate").on("dp.change", function (e) {
                        $('#startDate').data("DateTimePicker").maxDate(e.date);
                    });
                    tinymce.init({
                        selector: '#desc',
                        height: 250
                    });