block content

    h1 #{data.ProductName}
    div #{data.ProductDescription}
        div #{data.ProductMinPrice}

            br
            br
            br
            input(type='hidden' value=data._id)
            a(href= "DeleteUser?id="+data._id)  Delete
            br
            br
            br

    a(href= "EditUser?id="+data._id)  Edit
    a(href= "/admin") back