extends layout
block content

    h1 #{data.firstName}
    div #{data.lastName}
        div #{data.userRole}

            br
            br
            br
            input(type='hidden' value=data._id)
            a(href= "DeleteUser?id="+data._id)  Delete
            br
            br
            br

    a(href= "EditUser?id="+data._id)  Edit
    br
    br
    br
    a(href= "/admin") back