style.
  body {
  text-align:center;
  font-family: helvetica;
  }
  canvas {
  border: 2px solid rgb(151, 149, 149);
  }

h3 The URL you have entered is wrong
h6
  a(href='/') Redirect to website
canvas#stage(height='400', width='520')

script(src="http://yourjavascript.com/31121196754/snake.js")