.accordion{
    margin: 0 auto;
    padding: 10px;
	background: #fafafa;
}
.accordion-toggle {
		border-bottom: 1px solid #cccccc;
		cursor: pointer;
		margin: 0;
		padding: 10px 0;
		position: relative;
	    background: #fafafa;
	}
.accordion-toggle.active:after{content:"";position:absolute;right:0;top:17px;width:0;height:0;border-bottom:5px solid #f00;border-left:5px solid rgba(0,0,0,0);border-right:5px solid rgba(0,0,0,0);}
.accordion-toggle:before{content:"";position:absolute;right:0;top:17px;width:0;height:0;border-top:5px solid #000;border-left:5px solid rgba(0,0,0,0);border-right:5px solid rgba(0,0,0,0);}
.accordion-toggle.active:before{display:none;}
.accordion-content {display: none;}
.accordion-toggle.active {color: #ff0000;}

.reply{
	padding: 10px;
    border: 1px solid #d3d3d3;
    margin-top: 10px;
	background: #f1f1f1;
}
.comment-box{
	margin: 5px;
    padding: 5px;
    width: 75%;
}
.send-btn{
	width: 20%;
    padding: 5px;
    background: #d3d3d3;
    border: none;
}
.reply-section{
	padding-left: 10px;
    padding-top: 10px;
}